---
import { TECHNOLOGIES } from "../../constants/technologies";

interface Props {
  techList: string[];
}

const { techList } = Astro.props;

const generateBadgeUrl = (tech: string, color: string, icon: string) =>
  `https://img.shields.io/badge/${encodeURIComponent(tech)}-${color}?logo=${encodeURIComponent(
    icon.toLowerCase()
  )}&logoColor=white&style=flat`;
---
<div class="flex flex-wrap gap-2">
  {techList.map((tech) => {
    const techData = TECHNOLOGIES.find(
      (t: { name: string; }) => t.name.toLowerCase() === tech.toLowerCase()
    );

    return techData ? (
      <img
        src={generateBadgeUrl(techData.name, techData.color, techData.icon)}
        alt={techData.name}
        class="h-6 rounded"
        loading="lazy"
      />
    ) : (
      <span class="text-white text-sm bg-red-500 px-2 py-1 rounded">
        {tech} not found
      </span>
    );
  })}
</div>
