---
import MenuIcon from "./../icons/MenuIcon.astro";
import XIcon from "./../icons/XIcon.astro";
import ThemeTogle from "./ThemeTogle.astro";
import LanguageSelector from "./LanguageSelector.astro";
import HeaderAside from "./HeaderAside.astro";

const lightLogo = "/SCrbnll-Logo-White.png";
---

<div id="menuOverlay" class="fixed inset-0 bg-black/20 backdrop-blur-sm hidden z-40 transition-opacity duration-300"></div>

<header class="w-full shadow fixed top-0 left-0 z-50 scrbnll-header">
  <div class="max-w-6xl mx-auto flex justify-between items-center px-6 py-4">
    <img id="theme-logo" src={lightLogo} alt="Logo" class="h-14 sm:h-18" />
    <nav class="hidden md:flex items-center gap-12 font-medium">
        <a href="/#" class="flex items-center transition-colors duration-200 scrbnll-text">Home</a>
        <a href="#Portfolio" class="flex items-center transition-colors duration-200 scrbnll-text">Portfolio</a>
        <a href="#Contact" class="flex items-center transition-colors duration-200 scrbnll-text">Contact</a>
        <div class="flex items-center gap-4">
            <ThemeTogle />
            <LanguageSelector />
        </div>
    </nav>
    <button id="toggleMenu" class="md:hidden z-[999]">
      <MenuIcon id="menuIcon"/>
      <div id="closeIcon" class="hidden"><XIcon id="closeIcon" class="hidden"/></div>
    </button>
  </div>
</header>

<HeaderAside logo={lightLogo} />

<script is:inline>
  const logo = document.getElementById("theme-logo");
  function updateLogoByTheme() {
    const theme = localStorage.getItem("theme");
    logo.src = theme === 'dark'
      ? "/SCrbnll-Logo-White.png"
      : "/SCrbnll-Logo.png";
  }
  updateLogoByTheme();
  window.addEventListener("storage", (event) => {
    if (event.key === "theme") {
      updateLogoByTheme();
    }
  });
  window.addEventListener("themechange", updateLogoByTheme);
</script>
