---
// import Footer from "../components/Footer.astro"
import NavBar from "../components/Header/NavBar.astro"

interface Props {
  title: string
  description: string
}

const { description, title } = Astro.props
---

<html lang="en">
   <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <NavBar logo="/SCrbnll-Logo.png"/>

    <!-- Main -->
    <main class="pt-30 sm:pt-40 px-6 sm:px-0 mx-auto">
      <slot />
    </main>

    <!-- Footer -->
    <footer class="mt-12 p-6 text-center text-sm text-gray-600 bg-gray-100">
      &copy; 2025 Samuel Carbonell Gonçalves
    </footer>
  </body>
  
</html>
